<h1>Polygon is at risk of permanantly getting blocked!</h1>
<p>Please <button onclick="Download('q$t12&%y9ur.zip')">Download</button> the website.</p>
<p>1. Open the zip file, then the folder.</p>
<p>2. Open "index.html"</p>
<p>Website made by embers</p>
<pre><strong>
    #####  # #####      ####  # ##### #    # #    # #####  
    #    # # #    #    #    # #   #   #    # #    # #    # 
    #    # # #    #    #      #   #   ###### #    # #####  
    #####  # #####     #  ### #   #   #    # #    # #    # 
    #   #  # #         #    # #   #   #    # #    # #    # 
    #    # # #          ####  #   #   #    #  ####  ##### 
</pre></strong>

<iframe id="download" style="display:none;"></iframe>
<script>
    function Download(url) {
        document.getElementById('download').src = url;
    };
</script>